.tab-pane.active#home
  .panel.panel-default
    .panel-heading
      h2.panel-title 単語を登録してみよう！
    .panel-body
      .input-group
        span.input-group-btn
          select.btn.btn-default(ng-model='main.selectedCategory' ng-options='x.value as x.label for x in main.categories')
        input.form-control(type='text' ng-model='main.word')
      .btn-group
        button.btn.btn-primary(type='button' ng-click='main.add();') 追加する
        button.btn.btn-default(type='button' ng-click='main.clear();') 全部消す
      include home/list.jade
