doctype html
//
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
html(ng-app='app')
  include ./head.jade
  body
    div.container(ng-controller='MainCtrl as main')
      h1(ng-bind='main.title')
      div.panel.panel-default
        div.panel-heading
          h2.panel-title 単語を登録してみよう！
        div.panel-body
          div.input-group
            input.form-control(type='text' ng-model='main.word')
            span.input-group-btn
              button.btn.btn-default(type='button' ng-click='main.clear();') 消す
          div.btn-group
            button.btn.btn-primary(type='button' ng-click='main.add();') 追加する
            button.btn.btn-default(type='button' ng-click='main.clear();') 全部消す
          ul.list-group
            li.list-group-item(ng-repeat="x in main.words") {{ x.value }}
              span.btn-group
                button.btn.btn-default(type='button' ng-click='main.remove(x.id);') 消す
                button.btn.btn-default(type='button' ng-click='main.downIndex(x.id);')
                  span.glyphicon.glyphicon-circle-arrow-down(aria-hidden='true')
                button.btn.btn-default(type='button' ng-click='main.upIndex(x.id);')
                  span.glyphicon.glyphicon-circle-arrow-up(aria-hidden='true')
    include ./script.jade
